h1{
    border-bottom: black 3px solid;
    margin: 0;
}
ul{
    border-right: solid black 3px;
    width: 80%;
    margin: 0;
    padding: 15px;
}
a:link{
    color: darkred;
}
a:visited{
    color:purple
}
img{
    width: 30%;
    display: inline;
}
#imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#grid{
    display: grid;
    grid-template-columns: 30% 1fr;
}
#article{
    padding: 15px;
}
@media (max-width:700px) {
    #grid{
        display: inline-block;
    }
    ul{
        border-right: none;
        border-bottom: solid black 3px;
        width: 100%;
    }
}